.Collections {
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
}

.Collections-Grid {
  margin: 20px auto;
}

.Collections-Heading {
  line-height: 1;
  margin-bottom: 3rem;
}

.Collections-Heading .Title {
  letter-spacing: 0.4px;
  margin-top: 4rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 10px;
}

.Collections-Heading p {
  max-width: 600px;
  line-height: 1.5;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: sans-serif;
}

@media screen and (max-width: 1280px) {
  .Collections-Heading {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Collections-Heading {
    margin-left: 5px;
    margin-bottom: 1rem;
  }

  .Collections-Heading .Title {
    margin-top: 1rem;
    font-size: 25px;
  }

  .Collections-Heading p {
    font-size: 13px;
  }
}
