.Navbar {
  width: 95%;
  height: 60px;
  margin: 0 auto;
}

.Nav-Search {
  max-width: 700px;
  width: 60%;
}

.Navbar .mobile-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .Nav-Search,
  .Navbar .navbar-brand {
    display: none;
  }

  .Navbar .mobile-nav {
    width: 100%;
    display: block;
  }
}
